@page
@model ADODB.Pages.Login.AccessDeniedModel
@{
}
<center>
    <h1 style="color:black">You don't have access to this page!</h1><br /><br />
    <a class="btn-primary btn" asp-page="@Model.GoBackPath">Go back</a>
</center>
